
/* 
.login-container {
    background-color: purple;
} */

.background {
    /* background-image: url("res://background"); */
    background-color: purple;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

TextField {
    color: #212121;
    placeholder-color: #ACA6A7;
    background-color: white;
    opacity: 0.4;
    
}

  .main-container {
    /* margin-top: 170; */
    vertical-align: center;
    padding-right: 10;
    padding-left: 10;
  }

  .main-label {
    horizontal-align: center;
    color: white;
  }

  .initial-logo {
    horizontal-align: center;
    margin-bottom: 10;
  }

  .submit-button {
    background-color:#fec007;
    color: black;
    margin-top: 20;
    opacity: 1;
    padding: 20;
    
  }

  .forgot-password-label {
    font-size: 13;
    margin-left: 20;
    margin-bottom: 45;
    color: #ACA6A7;
  }