
.main-label {
    font-size: 25;
    /* letter-spacing: 0.35; */
    text-transform: uppercase;
    margin-bottom: 10;
}


TextField {
    margin-bottom: 10;
}

.submit-button {
    margin-top: 15;
    
}

.forgot-password-label {
    font-size: 13;
    text-transform: uppercase;
}